<a href="https://colab.research.google.com/github/iluciferos/Praktikum-Algoritma-Pemrograman-Polines-25/blob/Jobsheet-4/Jobsheet_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRAKTIKUM

### Praktikum 1 - Perulangan For dengan Range

In [2]:
for i in range(1,6):
  print (i)

1
2
3
4
5

### Praktikum 2 - Perulangan While

In [5]:
n = int(input("Masukkan angka = "))
while n > 0:
  print (n)
  n -= 1

Masukkan angka = 5
5
4
3
2
1

### Praktikum 03 – Nested Loop (Segitiga Bintang)

In [41]:
for i in range (1,6):
  for j in range (i):
    print("*", end="")
  print()

*
**
***
****
*****

### Praktikum 04 – Break dan Continue

In [9]:
#Break
for i in range (1,11):
  if i == 5 :
    print ("Angka 5 ditemukan")

Angka 5 ditemukan

In [18]:
#Continue
for i in range (1,6):
  if i % 2 == 1:
      continue
  print(i)

2
4

### Praktikum 05 – For pada Dictionary

In [19]:
data = {"Nama": "{Andi}", "Umur":20, "Prodi": "TRK"}

for k,v in data.items():
  print (k, ":", v)

Nama : {Andi}
Umur : 20
Prodi : TRK

### Praktikum 06 – For dengan Enumerate

In [24]:
daftar = ["Andi","Budi","Cici"]

for i,nama in enumerate(daftar, start=1):
  print (i, nama)

1 Andi
2 Budi
3 Cici

### Praktikum 07 – Studi Kasus: Program Kasir Multi-Item

In [39]:
total = 0
while True :
  b = (str(input("Input nama barang (ketik 'selesai' untuk berhenti): ")))
  if b.lower() == "selesai":
    break
  harga = (float(input(f"Input harga {b}: ")))
  jumlah = (int(input(f"Input jumlah {b}: ")))
  subtotal = harga * jumlah
  total += subtotal
  #2 total = total + (harga * jumlah)

print ("\n========= Struk Belanja =========")
print (f"Total belanja adalah : Rp {total}")

Input nama barang (ketik 'selesai' untuk berhenti): babi
Input harga babi: 9000
Input jumlah babi: 2
Input nama barang (ketik 'selesai' untuk berhenti): selesai

========= Struk Belanja =========
Total belanja adalah : Rp 18000.0

# **PENUGASAN**

### Menampilkan Deret Angka

In [52]:
for i in range(3,31,3):
  print (i)

3
6
9
12
15
18
21
24
27
30

### Hitung Faktorial

In [66]:
a = int(input("Masukkan angka: "))
i = 1
faktorial = 1
while i <= a:
  faktorial = faktorial * i
  i = i + 1
print (f"hasil faktorial dari {a} adalah {faktorial}")

Masukkan angka: 5
hasil faktorial dari 5 adalah 120

### Pola Segitiga Terbalik

In [74]:
tinggi = 5
for i in range (tinggi, 0, -1):
  for j in range (i):
    print("*", end="")
  print()

*****
****
***
**
*

### Cari Bilangan Prima dengan Break

In [101]:
a = int(input("Masukkan bilangan bulat: "))
prima = True
if a <= 1:
    prima = False
else:
    for i in range (2, int(a**0.5) + 1):
        if a % i ==0:
            prima = False
            print (f"Bukan bilangan Prima, karena habis dibagi {i}.")
            break
if prima:
  print(f"{a} adalah bilangan prima.")
elif a > 1:
  pass
else:
  print(f"{a} bukan bilangan prima.")

Masukkan bilangan bulat: 1
1 bukan bilangan prima.

### Tampilkan Hanya Bilangan Genap dengan Continue

In [108]:
#Continue
for i in range (1,21):
  if i % 2 !=0 :
      continue
  print(i)

2
4
6
8
10
12
14
16
18
20

### Iterasi Dictionary Mahasiswa

In [111]:
mahasiswa = {"Nama": "Budi", "Umur":21, "Prodi": "Teknik Komputer"}

for k,v in mahasiswa.items():
  print (k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

### Enumerate Daftar Barang

In [113]:
daftarBarang = ["Buku","Pulpen","Tas"]

for i,nama in enumerate(daftarBarang, start=1):
  print (i, nama)

1 Buku
2 Pulpen
3 Tas

### Studi Kasus – Kasir Diskon

In [125]:
total = 0
while True :
  b = (str(input("Input nama barang (ketik 'selesai' untuk berhenti): ")))
  if b.lower() == "selesai":
    break
  harga = (float(input(f"Input harga {b}: ")))
  jumlah = (int(input(f"Input jumlah {b}: ")))
  total = total + (harga * jumlah)

if total >= 200000:
    diskon = total * 0.1

totalBayar = total - diskon

print ("\n========= Struk Belanja =========")
print (f"Total belanja adalah : Rp {total}")
print (f"Total diskon adalah : Rp {diskon}")
print (f"Total Bayar adalah : Rp {totalBayar}")

Input nama barang (ketik 'selesai' untuk berhenti): Ban Depan
Input harga Ban Depan: 200000
Input jumlah Ban Depan: 2
Input nama barang (ketik 'selesai' untuk berhenti): Ban Belakang
Input harga Ban Belakang: 200000
Input jumlah Ban Belakang: 2
Input nama barang (ketik 'selesai' untuk berhenti): selesai

========= Struk Belanja =========
Total belanja adalah : Rp 800000.0
Total diskon adalah : Rp 80000.0
Total Bayar adalah : Rp 720000.0