<a href="https://colab.research.google.com/github/iluciferos/Praktikum-Algoritma-Pemrograman-Polines-25/blob/Jobsheet-7/Jobsheet_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PRAKTIKUM**

### Praktikum 01 – Tuple: Data Tetap yang Tidak Bisa Diubah

In [11]:
koordinat = (7.05, 110.44)
print("Lintang : ", koordinat[0])
print("Bujur   : ", koordinat[1])

Lintang :  7.05
Bujur   :  110.44

### Praktikum 02 – Dictionary Dasar: Menyimpan Data Mahasiswa

In [13]:
mahasiswa = {"NIM":"20251001",
             "Nama":"Andi",
             "Prodi":"TRK"}
print("NIM    : ", mahasiswa['NIM'])
print("Nama   : ", mahasiswa['Nama'])
print("Prodi  : ", mahasiswa['Prodi'])

NIM    :  20251001
Nama   :  Andi
Prodi  :  TRK

### Praktikum 03 – Operasi pada Dictionary

In [14]:
mahasiswa = {"NIM":"20251001",
             "Nama":"Andi",
             "Prodi":"TRK"
             }

mahasiswa["Umur"] = 20
mahasiswa["Prodi"] = "Teknik Komputer"
del mahasiswa["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

### Praktikum 04 – Set dan Operasi Himpunan

In [16]:
A = {1,2,3,4}
B = {3,4,5,6}

print("Union        : ", A|B)
print("Intersection : ", A & B)
print("Difference   : ", A - B)

Union        :  {1, 2, 3, 4, 5, 6}
Intersection :  {3, 4}
Difference   :  {1, 2}

### Praktikum 05 – Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [21]:
mhs1={"Algoritma","Matematika","Bahasa Inggris"}
mhs2={"Algoritma","Basis Data","Matematika"}

print("Mata Kuliah Mahasiswa 1: ", mhs1)
print("Mata Kuliah Mahasiswa 2: ", mhs2)
print("Mata kuliah yang sama  : ", mhs1 & mhs2)

Mata Kuliah Mahasiswa 1:  {'Bahasa Inggris', 'Matematika', 'Algoritma'}
Mata Kuliah Mahasiswa 2:  {'Matematika', 'Basis Data', 'Algoritma'}
Mata kuliah yang sama  :  {'Matematika', 'Algoritma'}

### Praktikum 06 – Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [24]:
nilai_mahasiswa = {
    "Andi":80,
    "Budi":75,
    "Cici":90
    }
for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
rata-rata nilai: 81.67

# **PENUGASAN**

### Tuple Sederhana

In [29]:
mahasiswa = ("Nama  : Budi",
             "Umur  : 25 ",
             "Prodi : Teknik Komputer"
             )
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])

Nama  : Budi
Umur  : 25
Prodi : Teknik Komputer

### Tuple Tidak Bisa Diubah

In [31]:
angka = ( 1,2,3 )
angka[0] = 10
print(angka)

TypeError: 'tuple' object does not support item assignment

### Dictionary Dasar

In [32]:
buku = {"Judul": "Algoritma",
        "Penulis": "Munir",
        "Tahun": 2021
        }
print("Judul    : ", buku['Judul'])
print("Penulis  : ", buku['Penulis'])
print("Tahun    : ", buku['Tahun'])

Judul    :  Algoritma
Penulis  :  Munir
Tahun    :  2021

### Operasi Dictionary

In [33]:
dosen = {"NIP": "12345", "Nama": "Budi", "Prodi": "TRK"}

dosen["Umur"] = 40
dosen["Prodi"] = "Teknik Komputer"
del dosen["Umur"]

print(dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

### Set dan Himpunan

In [34]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}


print("Union        : ", A | B)
print("Intersection : ", A & B)
print("Difference   : ", A - B)

Union        :  {'Bahasa Inggris', 'Matematika', 'Basis Data', 'Algoritma'}
Intersection :  {'Matematika', 'Algoritma'}
Difference   :  {'Bahasa Inggris'}

### Studi Kasus Dictionary

In [41]:
nilai_mahasiswa = {
    "Andi":85,
    "Budi":90,
    "Cici":78
    }
for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
rata-rata nilai: 84.33

### Studi Kasus Set – Klub Mahasiswa

In [40]:
KlubA = {"Andi", "Budi", "Cici"}
KlubB = {"Cici", "Deni", "Eka"}

print("Daftar nama seluruh anggota Klub A dan B     : ", KlubA | KlubB)
print("Daftar anggota yang ada di kedua klub        : ", KlubA & KlubB)
print("Anggota yang ada di Klub A tapi B tidak ada  : ", KlubA - KlubB)

Daftar nama seluruh anggota Klub A dan B     :  {'Budi', 'Cici', 'Deni', 'Andi', 'Eka'}
Daftar anggota yang ada di kedua klub        :  {'Cici'}
Anggota yang ada di Klub A tapi B tidak ada  :  {'Budi', 'Andi'}