<a href="https://colab.research.google.com/github/iluciferos/Praktikum-Algoritma-Pemrograman-Polines-25/blob/Jobsheet-3/jobsheet_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - If Sederhana

In [ ]:

nilai = int(input("Masukkan nilai: "))

KKM = nilai >=60
if KKM:
  print("Anda dinyatakan Lulus")

Masukkan nilai: 70
Anda dinyatakan Lulus

Praktikum 02 - If Else

In [ ]:
n = int(input("Masukkan nilai: "))

minimum_nilai = n >= 60
if minimum_nilai:
  print("Anda dinyatakan LULUS")
else:
  print("Anda dinyatakan TIDAK LULUS")

Masukkan nilai: 50
Anda dinyatakan TIDAK LULUS

Praktikum 03 - If Elif Else

In [ ]:
nilai = int(input("Masukkan Nilai: "))

if nilai >= 85:
  grade = "A"
elif nilai >= 70:
  grade = "B"
elif nilai >= 55:
  grade = "C"
elif nilai >= 40:
  grade = "D"
else:
  grade = "E"

print(f"Nilai anda {nilai}, grade anda {grade}")

Masukkan Nilai: 78
Nilai anda 78, grade anda B

Praktikum 04 - Nested if

In [ ]:
ipk = float(input("Masukkan jumlah IPK: "))
sks = int(input("Masukkan jumlah SKS: "))

if ipk >= 3.00:
    if sks >= 18:
        print("Anda layak Beasiswa")
    if ipk >= 3.00 and sks <=18:
          print("IPK memenuhi, SKS kurang")
    if ipk <= 3.00 and sks >=18:
          print("IPK Kurang, SKS memenuhi")
else:
    print("Anda tidak layak mendapat beasiswa")

Masukkan jumlah IPK: 3.2
Masukkan jumlah SKS: 16
IPK memenuhi, SKS kurang

Praktikum 05 - Match Case

In [ ]:
menu = int(input("Pilih menu (1-3): "))

match menu:
    case 1:
      print("Anda memilih Nasi Goreng")
    case 2:
      print("Anda memilih Mie Ayam")
    case 3:
      print("Anda memilih Soto Ayam")
    case _:
      print("Menu tidak tersedia")

Pilih menu (1-3): 2
Anda memilih Mie Ayam

Praktikum 06 - Studi Kasus : Program Kasir

In [ ]:
barang = str(input("Masukkan nama barang: "))
harga = float(input("Masukkan harga: "))
jumlah = int(input("Jumlah barang: "))

total = harga * jumlah

if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

bayar = total - (total * diskon)

print("\n====== Struk Belanja ======")
print(f"Barang      : {barang}")
print(f"Jumlah      : {jumlah}")
print(f"Total       : Rp.{total}")
print(f"Diskon      : {diskon*100} %")
print(f"Total Bayar : Rp.{bayar}")

Masukkan nama barang: Puplen
Masukkan harga: 5000
Jumlah barang: 10

====== Struk Belanja ======
Barang      : Puplen
Jumlah      : 10
Total       : Rp.50000.0
Diskon      : 0 %
Total Bayar : Rp.50000.0

# **PENUGASAN**

### **Cek Bilangan Positif/Negatif/Nol**

In [ ]:

a = int(input("Masukkan angka: "))

if a > 0:
  print(f"{a} adalah bilangan Positif")
elif a < 0:
  print(f"{a} adalah bilangan Negatif")
else:
  print(f"{a} adalah bilangan Nol")

Masukkan angka: 0
0 adalah bilangan Nol

### **Menentukan kategori usia**

In [ ]:
umur = int(input("Masukkan umur anda: "))

if umur <= 5:
  print("Anda masuk di kategori Balita")
elif umur <= 11:
  print("Anda masuk di kategori Anak - anak")
elif umur <= 17:
  print("Anda masuk di kategori Remaja")
elif umur <= 59:
  print("Anda masuk di kategori Dewasa")
else:
  print("Anda masuk di kategori Lansia")

Masukkan umur anda: 59
Anda masuk di kategori Dewasa

## **Hitung Tarif Parkir**

In [ ]:
waktu = int(input("Masukkan berapa jam parkir: "))
waktu_awal = 2
tarif = waktu / 2
tarif_lanjutan = (waktu - 2) * 2000 + 5000
maks_tarif = 20000

if waktu <= 0:
  print("Masukkan angka valid lebih dari 0")
elif waktu == waktu_awal:
  print(f"Tarif parkir: Rp.5000")
else:
  tarif_lanjutan
  if tarif_lanjutan > maks_tarif:
      tarif_lanjutan = maks_tarif
  print(f"Tarif parkir: Rp.{tarif_lanjutan}")

Masukkan berapa jam parkir: 20
Tarif parkir: Rp.20000

### **Cek Login Sederhana**

In [ ]:
usn = str(input("Input Username: "))
pw = str(input("Masukkan Password: "))

db_usn = usn
db_pw = pw
if db_usn and db_pw:
  print("Login Berhasil")
else:
  print("Login Gagal")

Login Berhasil

### **Menu Restoran dengan Match-Case**

In [ ]:
menu = int(input("Pilih menu (1-3): "))

match menu:
    case 1:
      print("Anda memilih Nasi Goreng")
    case 2:
      print("Anda memilih Mie Ayam")
    case 3:
      print("Anda memilih Soto Ayam")
    case _:
      print("Menu tidak tersedia")

Pilih menu (1-3): 2
Anda memilih Mie Ayam

Studi Kasus Nyata - Program Penentuan diskon

In [ ]:
barang = str(input("Masukkan nama barang: "))
harga = float(input("Masukkan harga: "))
jumlah = int(input("Jumlah barang: "))

total = harga * jumlah

if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

bayar = total - (total * diskon)

print("\n====== Struk Belanja ======")
print(f"Barang      : {barang}")
print(f"Jumlah      : {jumlah}")
print(f"Total       : Rp.{total}")
print(f"Diskon      : {diskon*100} %")
print(f"Total Bayar : Rp.{bayar}")

Masukkan nama barang: Sepatu Adidas Evo SL
Masukkan harga: 600000
Jumlah barang: 2

====== Struk Belanja ======
Barang      : Sepatu Adidas Evo SL
Jumlah      : 2
Total       : Rp.1200000.0
Diskon      : 20.0 %
Total Bayar : Rp.960000.0