<a href="https://colab.research.google.com/github/iluciferos/Praktikum-Algoritma-Pemrograman-Polines-25/blob/Jobsheet-6/Jobsheet_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Praktikum**

### Praktikum 01 – Membuat dan Mengakses List 1D

In [ ]:
mahasiswa = ["Andi","Budi","Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])

Andi
Budi
Cici

### Praktikum 02 – Update dan Operasi Dasar List

In [ ]:
nilai = [85,90,78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

### Praktikum 03 – Slicing List

In [ ]:
nilai = [85,90,78,92,88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

### Praktikum 04 – List 2D (Matriks)

In [ ]:
matriks = [[1,2,3],[4,5,6],[7,8,9]]
print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

### Praktikum 05 – Operasi pada List 2D

In [ ]:
A = [[1,2,3], [4,5,6]]
B = [[7,8,9], [10,11,12]]
C = []
for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j]+ B[i][j])
    C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

### Praktikum 06 – Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [[80,90,85],
         [70,75,80],
         [88,92,84]
         ]
for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa ke-{i}: {rata:.2f}")

Rata-rata mahasiswa ke-1: 85.00
Rata-rata mahasiswa ke-2: 75.00
Rata-rata mahasiswa ke-3: 88.00

# **Penugasan**

### Akses Elemen List

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici", "Dodik", "Evan"]
print(mahasiswa[0])
print(mahasiswa[4])
print(mahasiswa[1])

Andi
Evan
Budi

### Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

### Slicing List

In [ ]:
nilai = [1,2,3,4,5,6,7,8,9,10]
print(nilai[0:3])
print(nilai[6:])
print(nilai[::2])

[1, 2, 3]
[7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### List 2D (Matriks)

In [ ]:
matriks = [[1,2,3],[4,5,6]]
print(matriks[0][1])
print(matriks[1][2])
print(matriks[0])

2
6
[1, 2, 3]

### Operasi Matriks 2D

In [ ]:
A = [[1,2,3], [4,5,6]]
B = [[7,8,9], [10,11,12]]
C = []
for i in range(len(A)):
    baris = []
    for j in range(len(A[0])):
        baris.append(A[i][j]+ B[i][j])
    C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

### Rata-rata Nilai Mahasiswa

In [ ]:
nilai = [[75,80,85],
         [60,70,65],
         [90,95,92]
         ]
for i, baris in enumerate(nilai, start=1):
    rata = sum(baris) / len(baris)
    print(f"Rata-rata mahasiswa ke-{i}: {rata:.2f}")

Rata-rata mahasiswa ke-1: 80.00
Rata-rata mahasiswa ke-2: 65.00
Rata-rata mahasiswa ke-3: 92.33

### Studi Kasus – Data Toko

In [ ]:
stok = [["Buku", 20],
        ["Pulpen", 35],
        ["Penghapus", 15]
       ]

print("   DAFTAR STOK BARANG")
print("------------------------")

for item in stok:
    nama_barang = item[0]
    jumlah_stok = item[1]
    print(f"- {nama_barang}: {jumlah_stok} unit")

barang_terbanyak = max(stok, key=lambda item: item[1])

print("------------------------")
print(f"Stok Terbanyak:")
print(f"{barang_terbanyak[0]} dengan {barang_terbanyak[1]} unit.")

   DAFTAR STOK BARANG
------------------------
- Buku: 20 unit
- Pulpen: 35 unit
- Penghapus: 15 unit
------------------------
Stok Terbanyak:
Pulpen dengan 35 unit.